
/* Global */

a { cursor:pointer; }

/* Navbars */

.main-navbar {
  box-shadow: none;
  font-size: 1.2em;
}

.sidebar-nav {
  margin-top: 50px;
  margin-left: -15px;
  width: 125px;
  height: 100%;
  border-bottom: 1px solid gray;
/*   background-color: #D83018; */
}

.sidebar-nav-container {
  margin-top: 15px;
}

.side-nav-img {
  margin: 15px;
}

.sidenav-button {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
  font-size: 3em;
  box-shadow: none;
  border-radius: 0;
  border: none;
  margin: 0 12px;
}

/* Main Window */

.section-header {
  margin-top: 65px;
  text-align: center;
}

.well {
  margin-top: 50px;
  background-color: #7a8288;
}

.print-btn {
  margin-bottom: 15px;
  border: none;
}

.lower-button {
  margin-top: 15px;
}

.number-input {
  width: 18%;
}

.badge {
  font-size: 2em;
  background-color: #272b30;
  border-radius: 5px;
}


/* Footer */

footer {
  height: 70px;
  position: fixed;
}







