
.section-header {
  margin-top: 65px;
  text-align: center;
}

.panel {
  margin-top: 75px;
}

.lpb-guide {
  left: 0;
  margin-top: 50px;
  margin-left: -15px;
  width: 75%;
  height: 100%;
}


a {cursor:pointer;}

.card-body {
  width: 75%;
  margin: 0 auto;
  background-color: beige;
}

.card-content {
  width: 75%;
  margin: 0 auto;
  padding: 20px 0 20px 0;

}

.number-input {
  width: 18%;
}

.side-nav-img {
  margin: 15px;
}

.print-btn {
  margin-bottom: 15px;
}
