<div class="jumbotron text-center">
  <h1>Hello World</h1>
  <button class="btn btn-danger">CLICK ME TO WIN!</button>
</div>


  <div>
    <h2>Awesome Content Goes Here!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequuntur corporis deserunt, error
       mollitia provident quia? A alias aperiam atque molestiae perspiciatis repellendus saepe tempore vero. Aliquid aut culpa ea.
    </p>
  </div>


<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p>This is my sticky footer!</p>
  </div>
</div>
