<div ng-controller="ActivitiesCtrl">

  <div class="section-header">
    <h1>ACTIVITIES</h1>
  </div>

  <pre ng-repeat="activityData in activities">{{ activityData }}</pre>

  <div class="well" ng-repeat="activityData in activities">

    <form class="form-horizontal" role="form" name="activityEntry">

      <div>
        <span class="badge">{{ $index + 1 }}</span>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="activityName">Activity Name</label>
        <div class="col-sm-8">
          <input id="activityName" ng-model="activityData.activityName" class="form-control" type="text"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="activityDesc">Activity Description</label>
        <div class="col-sm-8">
          <textarea class="form-control" id="activityDesc" cols="12" rows="4"
                    ng-model="activityData.activityDesc"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="activityDuration">Activity Duration</label>
        <div class="col-sm-8">
          <input class="number-input form-control" id="activityDuration" ng-model="activityData.activityDuration"
                 ng-minlength="1" ng-maxlength="25" max="{{ lessonInfoData.lessonDuration }}" step="5" min="5" value="5" type="number">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Activity Materials?</label>
        <div class="col-sm-8">
          <div class="checkbox">
            <label>
              <input ng-model="activityData.activityMat" ng-true-value="yes" type="checkbox"> Yes
            </label>
            <label>
              <input ng-model="activityData.activityMat" ng-true-value="no" type="checkbox"> No
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Activity Equipment?</label>
        <div class="col-sm-8">
          <div class="checkbox">
            <label>
              <input ng-model="activityData.activityEquip" ng-true-value="yes" type="checkbox"> Yes
            </label>
            <label>
              <input ng-model="activityData.activityEquip" ng-true-value="no" type="checkbox"> No
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="relatedObj">Related Objective(s)</label>
        <div class="col-sm-8">
          <select class="form-control" id="relatedObj" ng-model="activityData.relatedObj">
            <option value="">Select an objective</option>
            <option value="objective1">Objective 1</option>
            <option value="objective2">Objective 2</option>
            <option value="objective3">Objective 3</option>
          </select>
        </div>
      </div>

      <hr>

      <div class="form-group">
        <div class="col-sm-offset-6 col-sm-6 text-right">
          <button type="button" class="btn btn-default btn-sm" ng-click="clearContents($index)">Clear Contents</button>
          <button type="button" class="btn btn-danger btn-sm">Complete Activity</button>
        </div>
      </div>

    </form>
  </div>

  <div>
    <h6 class="pull-right"><a ng-click="addActivity()">Add Activity  <span class="glyphicon glyphicon-plus"></span></a></h6>
  </div>

</div>

