  <div class="section-header">
    <h1>ACTIVITIES</h1>
  </div>

<!--   <pre ng-repeat="activity in activities">{{ activity }}</pre> -->

  <div class="well form-area" ng-repeat="activity in activities">

    <form class="form-horizontal" role="form" name="activityEntry">

      <div>
        <span class="badge">{{ $index + 1 }}</span>
      </div>

      <div class="form-group" ng-class="{'has-error has-feedback' : activityEntry.activityName.$invalid && activityEntry.activityName.$dirty}">
        <label class="col-sm-4 control-label" for="activityName">Activity Name</label>
        <div class="col-sm-8">
          <input id="activityName" name="activityName" ng-model="activity.activityName" class="form-control" type="text" required/>
          <span ng-show="activityEntry.activityName.$invalid && activityEntry.activityName.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="sr-only">(error)</span>
          <div class="help-block" ng-show="activityEntry.activityName.$invalid && activityEntry.activityName.$dirty">
            <span class="error" ng-show="activityEntry.activityName.$error.required">Please enter a name for the activity.</span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error has-feedback' : activityEntry.activityDesc.$invalid && activityEntry.activityDesc.$dirty}">
        <label class="col-sm-4 control-label" for="activityDesc">Activity Description</label>
        <div class="col-sm-8">
          <textarea class="form-control" id="activityDesc" name="activityDesc" cols="12" rows="4"
                    ng-model="activity.activityDesc" required></textarea>
          <span ng-show="activityEntry.activityDesc.$invalid && activityEntry.activityDesc.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="sr-only">(error)</span>
          <div class="help-block" ng-show="activityEntry.activityDesc.$invalid && activityEntry.activityDesc.$dirty">
            <span class="error" ng-show="activityEntry.activityDesc.$error.required">Please enter a description for the activity.</span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error' : activityEntry.activityDuration.$invalid && activityEntry.activityDuration.$dirty}">
        <label class="col-sm-4 control-label" for="activityDuration">Activity Duration</label>
        <div class="col-sm-8">
          <input class="number-input form-control" id="activityDuration" name="activityDuration" ng-model="activity.activityDuration"
                    max="{{ lessonInfo.lessonDuration }}" step="5" min="5" value="5" type="number">
          <span class="sr-only">(error)</span>
          <div class="help-block" ng-show="activityEntry.activityDuration.$invalid && activityEntry.activityDuration.$dirty">
            <span class="error" ng-show="activityEntry.activityDuration.$error.required">Please enter a duration for the activity.</span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error has-feedback' : activityEntry.activityName.$invalid && activityEntry.activityName.$dirty}">
        <label class="col-sm-4 control-label">Activity Materials?</label>
        <div class="col-sm-8">
          <div class="checkbox">
            <label>
              <input ng-model="activity.activityMat" ng-true-value="yes" type="checkbox"> Yes
            </label>
            <label>
              <input ng-model="activity.activityMat" ng-true-value="no" type="checkbox"> No
            </label>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error has-feedback' : activityEntry.activityName.$invalid && activityEntry.activityName.$dirty}">
        <label class="col-sm-4 control-label">Activity Equipment?</label>
        <div class="col-sm-8">
          <div class="checkbox">
            <label>
              <input ng-model="activity.activityEquip" ng-true-value="yes" type="checkbox"> Yes
            </label>
            <label>
              <input ng-model="activity.activityEquip" ng-true-value="no" type="checkbox"> No
            </label>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error has-feedback' : activityEntry.activityName.$invalid && activityEntry.activityName.$dirty}">
        <label class="col-sm-4 control-label" for="relatedObj">Related Objective(s)</label>
        <div class="col-sm-8">
          <select class="form-control" id="relatedObj" ng-model="activity.relatedObj">
            <option value="">Select an objective</option>
            <option ng-repeat="objective in objectives" ng-hide="objective.objDesc === ''"
                    value="{{ $index }}">{{$index + 1 + ". " + objective.objDesc }}</option>
          </select>
          <p class="help-block">Hold the <kbd>Ctrl / Cmd</kbd> key and click to select multiple entries</p>
        </div>
      </div>

      <hr>

      <div class="form-group" ng-class="{'has-error has-feedback' : activityEntry.activityName.$invalid && activityEntry.activityName.$dirty}">
        <div class="col-sm-offset-6 col-sm-6 text-right">
          <button type="button" class="btn btn-default btn-sm" ng-click="clearContents($index)">Clear Contents</button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="deleteActivity($index)">Delete Activity</button>
        </div>
      </div>

    </form>
  </div>

  <div>
    <h6 class="pull-right"><a ng-click="addActivity()">Add Activity  <span class="glyphicon glyphicon-plus"></span></a></h6>
  </div>
