<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills navbar-inverse nav-stacked sidebar-nav affix">
      <li class="sidebar-nav-img-container">
        <button ui-sref="lpb-home.lesson-info" class="sidenav-button glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="right"
          title="Lesson Plan Information"></button>
      </li> <!-- end lesson-info -->

      <li class="sidebar-nav-img-container">
        <button ui-sref="lpb-home.objectives" class="sidenav-button glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="right"
          title="Lesson Objectives"></button>
      </li> <!-- end objectives -->

      <li class="sidebar-nav-img-container">
        <button ui-sref="lpb-home.activities" class="sidenav-button glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="right"
          title="Lesson Activities"></button>
      </li><!-- end activities -->

      <li class="sidebar-nav-img-container">
        <button ui-sref="lpb-home.print" class="sidenav-button glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="right"
          title="Preview Lesson & Print"></button>
      </li><!-- end print -->

    </ul> <!-- end sidebar-nav -->
  </div>

  <div class="col-md-8">

    <div ui-view></div>

  </div> <!-- end ui-view -->
</div>

<!--<footer>-->
  <!--Copyright &amp;2014-->
<!--</footer>-->

<script>
  $(function() {
    setTimeout(function(){$('[data-toggle="tooltip"]').tooltip({container: 'body'});}, 1000);
  });
</script>
