<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills navbar-inverse nav-stacked lpb-guide">
      <li>
        <a ui-sref="lpb-home.lesson-info" class="side-nav-img">
          <img class="img-circle" src="http://placehold.it/115x115"
               alt="Generic placeholder thumbnail">
          <h4 class="text-center">LESSON INFORMATION</h4>
        </a>
      </li>
      <li>
        <a ui-sref="lpb-home.activities" class="side-nav-img">
          <img class="img-circle" src="http://placehold.it/115x115"
               alt="Generic placeholder thumbnail">
          <h4 class="text-center">ACTIVITIES</h4>
        </a>
      </li>
      <li>
        <a ui-sref="lpb-home.print" class="side-nav-img">
          <img class="img-circle" src="http://placehold.it/115x115"
               alt="Generic placeholder thumbnail">
          <h4 class="text-center">PREVIEW & PRINT</h4>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-7">

    <div ui-view></div>

  </div>
</div>
