
  <div class="section-header">
    <h1>LESSON INFORMATION</h1>
  </div>

  <!-- <pre>{{ lessonInfo }}</pre> -->

  <div class="well form-area">
    <form name="lessonInfoForm" role="form" class="form-horizontal" novalidate>

      <div class="form-group" ng-class="{'has-error has-feedback' : lessonInfoForm.lessonName.$invalid && lessonInfoForm.lessonName.$dirty}">
        <label class="col-sm-4 control-label" for="lessonName">Lesson Name</label>
        <div class="col-sm-8">
          <input class="form-control" name="lessonName" placeholder="Enter a name for the lesson" ng-model="lessonInfo.lessonName" id="lessonName" type="text" required/>
          <span ng-show="lessonInfoForm.lessonName.$invalid && lessonInfoForm.lessonName.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="sr-only">(error)</span>
          <div class="help-block" ng-show="lessonInfoForm.lessonName.$invalid && lessonInfoForm.lessonName.$dirty">
            <span class="error" ng-show="lessonInfoForm.lessonName.$error.required">Please enter a name for the lesson.</span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error has-feedback' : lessonInfoForm.lessonDesc.$invalid && lessonInfoForm.lessonDesc.$dirty}">
        <label class="col-sm-4 control-label" for="lessonDesc">Lesson Description</label>
        <div class="col-sm-8">
          <textarea class="form-control" name="lessonDesc" placeholder="Enter a description for the lesson" id="lessonDesc" cols="12" rows="4"
                    ng-model="lessonInfo.lessonDesc" required></textarea>
          <span ng-show="lessonInfoForm.lessonDesc.$invalid && lessonInfoForm.lessonDesc.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="sr-only">(error)</span>
          <div class="help-block" ng-show="lessonInfoForm.lessonDesc.$invalid && lessonInfoForm.lessonDesc.$dirty">
            <span class="error" ng-show="lessonInfoForm.lessonDesc.$error.required">Please enter a description for the lesson.</span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error has-feedback' : lessonInfoForm.teacherName.$invalid && lessonInfoForm.teacherName.$dirty}">
        <label class="col-sm-4 control-label" for="teacherName">Teacher Name</label>
        <div class="col-sm-8">
          <input ng-model="lessonInfo.teacherName" name="teacherName" id="teacherName" placeholder="John Doe / Jane Doe" class="form-control" type="text" required/>
          <span ng-show="lessonInfoForm.teacherName.$invalid && lessonInfoForm.teacherName.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="sr-only">(error)</span>
          <div class="help-block" ng-show="lessonInfoForm.teacherName.$invalid && lessonInfoForm.teacherName.$dirty">
            <span class="error" ng-show="lessonInfoForm.teacherName.$error.required">Please enter a teacher's name.</span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error' : lessonInfoForm.lessonDuration.$invalid && lessonInfoForm.lessonDuration.$dirty}">
        <label class="col-sm-4 control-label" for="lessonDuration">Lesson Duration</label>
        <div class="col-sm-8">
          <input class="number-input form-control" id="lessonDuration" name="lessonDuration" ng-model="lessonInfo.lessonDuration"
                 min="5" step="5" value="5" type="number" required>
          <span class="sr-only">(error)</span>
          <div class="help-block" ng-show="lessonInfoForm.lessonDuration.$invalid && lessonInfoForm.lessonDuration.$dirty">
            <span class="error" ng-show="lessonInfoForm.lessonDuration.$error.required">Please enter a duration for the lesson.</span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error has-feedback' : lessonInfoForm.lessonDate.$invalid && lessonInfo.lessonDate.$dirty}">
        <label class="col-sm-4 control-label">Lesson Date</label>
        <div class="col-sm-8">
          <!--<my-date-picker required></my-date-picker>-->
          <input type="date" placeholder="mm/dd/yy" class="form-control date" ng-model="lessonInfo.lessonDate" name="lessonDate" required/>
          <span ng-show="lessonInfoForm.lessonDate.$invalid && lessonInfoForm.lessonDate.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="sr-only">(error)</span>
          <div class="help-block" ng-show="lessonInfoForm.lessonDate.$invalid && lessonInfoForm.lessonDate.$dirty">
            <span class="error" ng-show="lessonInfoForm.lessonDate.$error.required">Please enter a date for the lesson.</span>
          </div>
        </div>
      </div>
            
      <div class="form-group">
        <div class="col-sm-offset-6 col-sm-6 text-right">
          <button class="btn btn-danger btn-sm lower-button" ng-click="clearContents()">Clear Contents</button>
        </div>
      </div>

    </form>
  </div>

  <div>
    
  </div>


