
  <div class="section-header">
    <h1>LESSON INFORMATION</h1>
  </div>

  <pre>{{ lessonInfoData }}</pre>

  <div class="well">
    <form name="lessonInfo" role="form" class="form-horizontal" novalidate>

      <div class="form-group" ng-class="{'has-error has-feedback' : lessonInfo.lessonName.$invalid && lessonInfo.lessonName.$dirty}">
        <label class="col-sm-4 control-label" for="lessonName">Lesson Name</label>
        <div class="col-sm-8">
          <input class="form-control" name="lessonName" placeholder="Enter a name for the lesson" ng-model="lessonInfoData.lessonName" id="lessonName" type="text"
                 ng-maxlength="50" required/>
          <span ng-show="lessonInfo.lessonName.$invalid && lessonInfo.lessonName.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="sr-only">(error)</span>
          <div class="error-container help-block"
               ng-show="lessonInfo.lessonName.$invalid && lessonInfo.lessonName.$dirty">
            <span class="error" ng-show="lessonInfo.lessonName.$error.required">Please enter a name for the lesson.</span>
            <span class="error" ng-show="lessonInfo.lessonName.$error.maxlength">Your lesson name cannot be longer than 50 characters.</span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error has-feedback' : lessonInfo.lessonDesc.$invalid && lessonInfo.lessonDesc.$dirty}">
        <label class="col-sm-4 control-label" for="lessonDesc">Lesson Description</label>
        <div class="col-sm-8">
          <textarea class="form-control" name="lessonDesc" placeholder="Enter a description for the lesson" id="lessonDesc" cols="12" rows="4"
                    ng-model="lessonInfoData.lessonDesc" required></textarea>
          <span ng-show="lessonInfo.lessonName.$invalid && lessonInfo.lessonName.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="sr-only">(error)</span>
          <div class="error-container help-block" ng-show="lessonInfo.lessonDesc.$invalid && lessonInfo.lessonDesc.$dirty">
            <span class="error" ng-show="lessonInfo.lessonDesc.$error.required">Please enter a description for the lesson.</span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error has-feedback' : lessonInfo.teacherName.$invalid && lessonInfo.teacherName.$dirty}">
        <label class="col-sm-4 control-label" for="teacherName">Teacher Name</label>
        <div class="col-sm-8">
          <input ng-model="lessonInfoData.teacherName" name="teacherName" id="teacherName" placeholder="John Doe / Jane Doe" class="form-control" type="text" required/>
          <span ng-show="lessonInfo.teacherName.$invalid && lessonInfo.teacherName.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="sr-only">(error)</span>
          <div class="error-container help-block" ng-show="lessonInfo.teacherName.$invalid && lessonInfo.teacherName.$dirty">
            <span class="error" ng-show="lessonInfo.teacherName.$error.required">Please enter a teacher's name.</span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error has-feedback' : lessonInfo.lessonDuration.$invalid && lessonInfo.lessonDuration.$dirty}">
        <label class="col-sm-4 control-label" for="lessonDuration">Lesson Duration</label>
        <div class="col-sm-8">
          <input class="number-input form-control" id="lessonDuration" name="lessonDuration" ng-model="lessonInfoData.lessonDuration"
                 min="5" step="5" value="5" type="number" required>
          <span ng-show="lessonInfo.lessonDuration.$invalid && lessonInfo.lessonDuration.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="sr-only">(error)</span>
          <div class="error-container help-block" ng-show="lessonInfo.lessonDuration.$invalid && lessonInfo.lessonDuration.$dirty">
            <span class="error" ng-show="lessonInfo.lessonDuration.$error.required">Please enter a lesson duration for the lesson.</span>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error has-feedback' : lessonInfo.lessonDate.$invalid && lessonInfo.lessonDate.$dirty}">
        <label class="col-sm-4 control-label">Lesson Date</label>
        <div class="col-sm-8">
          <!--<my-date-picker required></my-date-picker>-->
          <input type="date" placeholder="mm/dd/yy" class="form-control date" ng-model="lessonInfoData.lessonDate" name="lessonDate" required/>
          <span ng-show="lessonInfo.lessonDate.$invalid && lessonInfo.lessonDate.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="sr-only">(error)</span>
          <div class="error-container help-block" ng-show="lessonInfo.lessonDate.$invalid && lessonInfo.lessonDate.$dirty">
            <span class="error" ng-show="lessonInfo.lessonDate.$error.required">Please enter a date for the lesson.</span>
          </div>
        </div>
      </div>

    </form>
  </div>

  <div>
    <button class="btn btn-default btn-sm" ng-click="clearContents()">Start Over</button>
  </div>


