<div class="section-header">
  <h1>OBJECTIVES</h1>
</div>

<pre ng-repeat="objective in objectives">{{ objectives }}</pre>

<div class="well" ng-repeat="objective in objectives">

  <form class="form-horizontal" role="form" name="objectiveEntry">

    <div>
      <span class="badge">{{ $index + 1 }}</span>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="objDesc">Objective Description</label>
      <div class="col-sm-8">
        <input id="objDesc" ng-model="objective.objDesc" class="form-control" type="text"/>
      </div>
    </div>
  </form>
</div>

<div>
  <h6 class="pull-right"><a ng-click="addObjective()">Add Objective  <span class="glyphicon glyphicon-plus"></span></a></h6>
</div>
