<div class="section-header">
  <h1>OBJECTIVES</h1>
</div>

<pre ng-repeat="objective in objectives">{{ objective }}</pre>

<div class="well" ng-repeat="objective in objectives">

  <form class="form-horizontal" role="form" name="objectiveEntry">

    <div class="form-group">
      <div class="col-sm-1"><span class="badge">{{ $index + 1 }}</span></div>
      <label class="col-sm-4 control-label" for="objDesc">Objective Description</label>
      <div class="col-sm-6">
        <input id="objDesc" ng-model="objective.objDesc" class="form-control" type="text"/>
      </div>
      <div class="col-sm-1">
        <a ng-click="deleteObjective($index)"><span class="glyphicon glyphicon-remove-circle"></span></a>
      </div>
    </div>

  </form>
</div>

<div>
  <h6 class="pull-right"><a ng-click="addObjective()">Add Objective  <span class="glyphicon glyphicon-plus"></span></a></h6>
</div>
