<div id="print-page">
  <div class="section-header">
    <h1>PREVIEW & PRINT</h1>
  </div>

  <pre>{{ lessonInfoData }}</pre>
  <pre ng-repeat="activities in activities">{{ activities }}</pre>
  <pre ng-repeat="objectives in objectives">{{ objectives }}</pre>

  <button class="btn btn-danger print-btn" ng-click="print()">PRINT LESSON PLAN</button>

  <div class="well">
    <h4>LESSON INFORMATION</h4>
    <table class="table">
      <tr>
        <td>Lesson Name:</td>
        <td>{{ lessonInfoData.lessonName }}</td>
      </tr>
      <tr>
        <td>Lesson Description:</td>
        <td>{{ lessonInfoData.lessonDesc }}</td>
      </tr>
      <tr>
        <td>Teacher Name:</td>
        <td>{{ lessonInfoData.teacherName }}</td>
      </tr>
      <tr>
        <td>Lesson Duration:</td>
        <td>{{ lessonInfoData.lessonDuration }}</td>
      </tr>
      <tr>
        <td>Lesson Date:</td>
        <td>{{ lessonInfoData.lessonDate }}</td>
      </tr>
    </table>
    <hr/>

    <h4>OBJECTIVES</h4>
    <table class="table" ng-repeat="objectives in objectives">
      <tr>
        <td>Objective:</td>
        <td>{{ objectives.objDesc }}</td>
      </tr>
    </table>
    <hr/>

    <h4>ACTIVITIES</h4>
    <table class="table" ng-repeat="activities in activities">
      <tr>
        <td>Activity Name:</td>
        <td>{{ activities.activityName }}</td>
      </tr>
      <tr>
        <td>Activity Description:</td>
        <td>{{ activities.activityDesc }}</td>
      </tr>
      <tr>
        <td>Activity Duration:</td>
        <td>{{ activities.activityDuration }}</td>
      </tr>
      <tr>
        <td>Activity Materials:</td>
        <td>{{ activities.activityMat }}</td>
      </tr>
      <tr>
        <td>Activity Equipment:</td>
        <td>{{ activities.activityEquip }}</td>
      </tr>
      <tr>
        <td>Related Objectives:</td>
        <td>{{ activities.relatedObj }}</td>
      </tr>
    </table>
  </div>
</div>
