<div ng-controller="LessonInfoCtrl">
  <div style="margin-top: 65px; text-align: center;">
    <h1>LESSON INFORMATION</h1>
  </div>

  <pre>{{ lessonInfoData }}</pre>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title" style="height: 30px;">{{ lessonInfoData.title }}</div>
    </div>
    <div class="panel-body">

      <form role="form">
        <div class="form-group">
          <label for="title">Lesson Name:</label>
          <input placeholder="Lesson Name" class="form-control" id="title" type="text"
                 ng-model="lessonInfoData.title"/>
          <br/>
          <label for="description">Lesson Description:</label>
          <textarea class="form-control" id="description" rows="4"
                    placeholder="Enter a description for the lesson" ng-model="lessonInfoData.description"></textarea>
          <br/>
          <label for="teacher-name">Teacher's Name:</label>
          <input placeholder="John Smith" class="form-control" id="teacher-name" type="text"
                 ng-model="lessonInfoData.teacherName"/>
          <br/>
          <label for="class-duration">Class Duration:</label>
          <input class="form-control" id="class-duration" type="number" min="0" step="5"
                 ng-model="lessonInfoData['class-duration']"/>
          <br/>
          <label for="lesson-date">Lesson Date:</label>
          <!--<input datepicker-popup type="text" id="lesson-date" ng-model="lessonInfoData['lesson-date']"/>-->
          <mydatepicker ng-model="lessonInfoData['lesson-date']" date-options="{}"
                        opened="false"></mydatepicker>

          <hr/>
          <label for="class-name">Class Name:</label>
          <input class="form-control" id="class-name" type="text" ng-model="lessonInfoData['class-name']"/>
          <br/>
          <label for="class-level">Class Level:</label>
          <select class="form-control" id="class-level" ng-model="lessonInfoData['class-level']">
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
            <option value="other">Other</option>
          </select>
          <br/>
          <label for="school-name">School Name:</label>
          <input class="form-control" id="school-name" type="text" ng-model="lessonInfoData['school-name']"/>
          <br/>
          <label for="number-of-students"># of Students:</label>
          <input class="form-control" id="number-of-students" type="number" min="0"
                 ng-model="lessonInfoData['number-of-students']"/>
          <br/>
          <label for="student-type">Type of Students:</label>
          <input class="form-control" id="student-type" type="text" ng-model="lessonInfoData['student-type']"/>
          <br/>
          <label>Class Schedule:</label>

          <div class="input-group">
            <input type="checkbox" ng-model="lessonInfoData['class-schedule-Monday']">Monday
            <input type="checkbox" ng-model="lessonInfoData['class-schedule-Tuesday']">Tuesday
            <input type="checkbox" ng-model="lessonInfoData['class-schedule-Wednesday']">Wednesday
            <input type="checkbox" ng-model="lessonInfoData['class-schedule-Thursday']">Thursday
            <input type="checkbox" ng-model="lessonInfoData['class-schedule-Friday']">Friday
            <input type="checkbox" ng-model="lessonInfoData['class-schedule-Saturday']">Saturday
            <input type="checkbox" ng-model="lessonInfoData['class-schedule-Sunday']">Sunday
          </div>
          <br/>
          <label for="start-time">Start Time:</label>
          <input class="form-control" id="start-time" type="number" min="1" max="12"
                 ng-model="lessonInfoData['start-time']"/>
          <select class="form-control" ng-model="lessonInfoData['start-time-period']">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
          </select>
          <br/>
          <label for="end-time">End Time:</label>
          <input class="form-control" id="end-time" type="number" min="1" max="12"
                 ng-model="lessonInfoData['end-time']"/>
          <select class="form-control" ng-model="lessonInfoData['end-time-period']">
            <option value="AM" >AM</option>
            <option value="PM">PM</option>
          </select>
        </div>
      </form>

    </div>
  </div>
</div>
