<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills navbar-inverse nav-stacked lpb-guide">
      <li><a ui-sref="lpb-home.lesson-info">Lesson Information</a></li>
      <li><a ui-sref="lpb-home.objectives">Objectives</a></li>
      <li><a ui-sref="lpb-home.activities">Activities</a></li>
      <li><a ui-sref="lpb-home.matEquip">Materials & Equipment</a></li>
      <li><a ui-sref="lpb-home.evidence">Evidence</a></li>
      <li><a ui-sref="lpb-home.print">Print</a></li>
    </ul>
  </div>

  <div class="col-md-8">

    <div ui-view></div>

  </div>

  <div class="col-md-2"></div>

</div>
